* 
{
	margin : 0;
	padding : 0;
}

/* 
marron: #462f06
beige:  #e5c88e
vert:   #339520
*/

.information
{
	font-style:italic;
}

.bloc-soin
{
	margin : 20px 20px;
}

.description 
{
	font-style: italic;
}

.soin
{
	margin : 5px 0px;
	font-weight: bold;
}

.duree
{
	font-weight : normal;
}

ul.bloc-soin
{
	margin : 10px 0px 10px 45px;
}

a 
{
	color : #339520;
	text-decoration : none;
}

a:hover 
{
	color : #339520;
	text-decoration : underline;
}

a img 
{
	border-width : 0px none #000;
	margin: 10px;
}

html, body 
{
/*	background-color : #e5c88e; */
	background-color : #fbdca0;
	color : #462f06;
	font-family : sans-serif;
	font-size : medium;
	margin : 0px 2%;
	padding : 0px;
	text-align : justify;
}

h1 
{
	background : #462f06;
	color : #e5c88e;
	padding : 10px 0 10px 0;
	margin : 10px 0 20px 0;
	text-align : center;
}

h2
{
	margin : 20px 0px;
}

h3, h4, h5
{
	margin : 20px 20px;
}

p
{
	margin : 10px 20px;
	text-align : justify;
}

/* Styles concernant les menus */
#menu
{
	margin : 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
	line-height: 2em;
}

#menu ul
{
	margin : 0;
	padding : 0;
}

#menu li
{
	display : inline;
	padding : 5px;
	margin-right : 1px;
	color : #e5c88e;
 	white-space: nowrap;
	background : #462f06;
}

#menu a 
{
	color : #e5c88e;
	text-decoration : none;
}

#menu a:hover 
{
	background : #339520;
}

#footer
{
	margin : 20px 0 0 0;
	padding: 0;
	background-color: #462f06;
	text-align: center;
}

